body{
    background-color: coral;}
#user-display{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px;
    grid-template-areas:
        "a a b"
        "a a b";
}